<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="flash-container">
  <p *ngFor="let message of messages">
    <ngb-alert [type]="message.type" (close)="closeAlert(message.id)">{{ message.message }}</ngb-alert>
  </p>
  </div>
<nav class="navbar bg-primary">
  <h1 class="navbar-brand mb-0 text-center">programs</h1>
</nav>
     <div *ngFor="let program of programs" class="program-item">
       <program [program]="program"> </program>
     </div>
</div>
